# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js dependencies and build folders
node_modules/
dist/
dist-ssr/

# OS files
.DS_Store

# Editor / IDE
.vscode/
.idea/

# Windows / Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
